# Virtual Environment
venv/

# Environment Variables
.env
backend/.env

# Python Cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Frontend dependencies
frontend/node_modules/

# Frontend build
frontend/dist/

# Uploaded files
uploads/

# Local development test scripts
backend/test_jwt.py
backend/test_uuid.py